@import 'https://fonts.googleapis.com/css?family=Raleway';

body {

	text-align: center;
	color:white;
	background-color: black;
	width: 100%;
	margin:auto;
	
}

header {
	background-color:#FFED74;
}

nav {
	background-color:#E8C66A;
	color:white;
	font-family: 'Raleway', sans-serif;
}

footer {

	background-color:#FF957E;
}

#services {
	background-color:#FFE2B8;
}

#photo {
	background-image: url("images/hero-image.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	opacity: .6;

}

#logo {

	width: 100px;
	margin-top: 30px;
}

h1, p, ul {

	color:white;
	font-family: 'Raleway', sans-serif;
	list-style-type: none;

}

a {
	color: #ffeb4c;
	font-family: 'Raleway', sans-serif;
	text-decoration: none;
}

#slogan {
	font-family: 'Raleway', sans-serif;
	}

#quote {
	font-style: italic;
	font-family: "Georgia";
	margin-left: 150px;
	margin-right: 150px;
	line-height: 1.5em;
}

hr {
	width: 200px;
	color: white;
}