body {

	background-color:black;
	text-align: center;
	background-image:url("images/hero-image.jpg");
	color:white;


}

h1, p, ul {

	color:white;
	font-family: "Helvetica";

}

#slogan {

	font-style: italic;
	font-family: "Georgia";
	}