body {

	background:linear-gradient(rgba(0,87,110,0),rgba(0,87,110,0.9), url("images/hero-image.jpg");
	text-align: center;
	color:white;
	margin: 100px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	
}


h1, p, ul {

	color:white;
	font-family: "Helvetica";
	list-style-type: none;

}

a {
	color: #ffeb4c;
	font-family: "Helvetica";
	text-decoration: none;
}

#slogan {
	font-family: "Helvetica";
	}

#quote {
	font-style: italic;
	font-family: "Georgia";
}

hr {
	width: 200px;
	color: white;
}