body {

	text-align: center;
	color:white;
	background-image: url("images/hero-image.jpg");
	background-color: black;
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	margin:auto;
	
}

#logo {

	width: 150px;
}

h1, p, ul {

	color:white;
	font-family: "Helvetica";
	list-style-type: none;

}

a {
	color: #ffeb4c;
	font-family: "Helvetica";
	text-decoration: none;
}

#slogan {
	font-family: "Helvetica";
	}

#quote {
	font-style: italic;
	font-family: "Georgia";
	margin-left: 100px;
	margin-right: 100px;
}

hr {
	width: 200px;
	color: white;
}