body {

	background-color:black;
	text-align: center;
	background-image:url("images/hero-image.jpg");
	color:white;
	margin: 20px;


}

h1, p, ul {

	color:white;
	font-family: "Helvetica";
	list-style-type: none;

}

#slogan {
	font-family: "Helvetica";
	}

#quote {
	font-style: italic;
	font-family: "Georgia";
}