body {

	background-color:black;
	text-align: center;
	background-image:url("images/hero-image.jpg");
	color:white;
	margin: 50px;


}

h1, p, ul {

	color:white;
	font-family: "Helvetica";
	list-style-type: none;

}

a {
	color: #ffeb4c;
	font-family: "Helvetica";
	text-decoration: none;
}

#slogan {
	font-family: "Helvetica";
	}

#quote {
	font-style: italic;
	font-family: "Georgia";
}