body {

	text-align: center;
	color:white;
	margin: 100px;
	
}

#container {
	width: 100%;
	margin:auto;
	background-image: url("images/hero-image.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-color:black
	opacity:0.5;

}

h1, p, ul {

	color:white;
	font-family: "Helvetica";
	list-style-type: none;

}

a {
	color: #ffeb4c;
	font-family: "Helvetica";
	text-decoration: none;
}

#slogan {
	font-family: "Helvetica";
	}

#quote {
	font-style: italic;
	font-family: "Georgia";
}

hr {
	width: 200px;
	color: white;
}