body {

	background-color:black;
	text-align: center;
	color:white;
	margin: 50px;
	background-image: url("images/hero-image.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;


}

#background {
	width: 100%;
	height: 100%;
	position: fixed;
}

h1, p, ul {

	color:white;
	font-family: "Helvetica";
	list-style-type: none;

}

a {
	color: #ffeb4c;
	font-family: "Helvetica";
	text-decoration: none;
}

#slogan {
	font-family: "Helvetica";
	}

#quote {
	font-style: italic;
	font-family: "Georgia";
}

hr {
	width: 200px;
	color: white;
}